# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.spec

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE configs
.vscode/
.idea/

# macOS
.DS_Store

# pip logs
pip-log.txt
pip-delete-this-directory.txt

# Model artifacts

*.h5
*.sav

# Streamlit cache
.streamlit/

# Logs and outputs
*.log
*.out

# Ignore datasets
data/merged_news.csv
data/Fake.csv
data/True.csv

# If you're using Git LFS, ignore manually uploaded large files
*.zip
*.tar.gz
*.7z
